@font-face {
    font-family: iransans;
    src: url(../fonts/iran_sans.ttf);
}
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "B Roya", Tahoma;
    direction: rtl;
    font-size: 20px;
}
.mt_top_menu{
    border-top: 3px solid #00838F;
    background-color:#00695C;
    height: auto;
    width: 100%;
}
.mt_top_menu ul{
    margin: auto;
    width: 80%;
    padding: 30px 0;
}
.mt_top_menu ul li{
    display: inline;
}
.mt_top_menu ul li a{
    color: white;
    padding: 30px;
    font-family: iransans;
    font-size: 16px;
}
.mt_top_menu ul li a:hover{
    color: #013243;
    transition: .2s;
}
.mt_top_menu ul div{
    float: left;
}
.mt_top_menu ul div a{
    color: #fff;
    background: #f26060;
    padding: 10px 20px;
    border-radius: 30px;
}
.mt_banner{
    width: 100%;
    height: 700px;
    background: url("../images/slider1.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
.mt_about_app{
    background: #013243;
    width: 100%;
    background: #013243; /* For browsers that do not support gradients */
    background: linear-gradient(-90deg, #013243, #007b87);
}
.mt_about_app_2{
    padding: 50px 0;
    width: 85%;
    height: 100%;
    margin: auto;
    text-align: justify;
    line-height: 50px;
}
.mt_about_app_2 h1{
    color: #26C6DA;
    margin-bottom: 20px;
}
.mt_about_app_2 p{
    color: #26d695;
    font-size: 25px;
}




