*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    font-family: "B Roya";
    direction: rtl;
}
.mt_menu{
    float: right;
}
.mt_menu ul{
    width: 16%;
    background-color: #222527;
    height: 100%;
    position: fixed;
}
.mt_menu ul li{
    border-bottom:1px solid #1c1f21;
}
.mt_menu ul li:hover{
    padding-right: 22px;
    transition: .4s;
}
.mt_menu ul li a{
    padding: 16px;
    color: #f3f3f3;
    display: block;
}

.mt_menu ul li a span{
    color: #0091ea;
    padding-left: 6px;
    font-size: 14px;
}
.mt_main{
    width: 84%;
    float: left;
    height: auto;
    background-color: #374046;
    padding: 40px 60px;
    min-height: 900px;
    text-align: justify;
}
table{
    border-collapse: collapse;
}
table tr,th{
    background-color: #f3f3f3;
    border-bottom: 1px solid #cccccc;
    padding: 18px;
}
table tr:nth-of-type(2n+1){
    background-color: #e5e5e5;;
}
table tr td{
     padding: 5px 20px;
 }
.trash{
    font-size: 20px;
    color: red;
    cursor: pointer;
}
.mt_admin_messages{
    background-color: #24c78a;
    color: white;
    margin: 15px 0;
    padding: 10px;
    border-right: 4px solid #146949;
    display: none;
}
table tr.mt_table_head{
    background-color: #007b87;
    border-bottom: 5px solid #20A977;
}
table tr.mt_table_head td{
    padding: 15px;
    color: white;
}
