@font-face {
    font-family: iransans;
    src: url(../../fonts/iran_sans.ttf);
}
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e1e1e1;
    font-family: iransans;
}

.mt_admin_log{
    margin: 200px auto;
    width: 40%;
    padding: 20px 30px;
    height: auto;
    background-color: #13232f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}
.mt_admin_log *{
    display: block;
    width: 100%;
    padding: 8px;
}
.mt_admin_log input{
    margin-top: 10px;
    background-color: #13232f;
    border: 2px solid #a0b3b0;
    color: #a0b3b0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.mt_admin_log input:focus{
    background-color: #224058;
}
.mt_admin_log label {
    color: #a0b3b0;
}

.mt_admin_log input[type=submit]{
    background-color: #22bb83;
    border: 0;
    color: white;
    font-size: 20px;
}
.mt_admin_log input[type=submit]:hover{
    background-color: #20A977;
}

.errortime p{
    direction: rtl;
    font-family: Tahoma;
    color: white;
    background-color: #f44336;;
}

